@model HomeViewModel

    <h1 class="display-4">This is home index</h1>
    <partial name="_Carousel" />

    <h2>Candy On sale</h2>
    <div class="row">
        @foreach(var candy in Model.CandyOnSale)
        {
            <partial name="_candyCard" model="candy"></partial>
        }
    </div>
